* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, Arial, sans-serif;
}

@keyframes anime1 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-15px);
    }
}

/*Step-1-Nav block*/
#step-1 {
    display: flex;
    flex-direction: column;
    background-image: url(https://static.tildacdn.com/tild6239-6638-4865-b638-633631326634/rawpixelcom340966.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 726px;
}

.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.left-topnav {
    padding: 0 105px 0 40px;
}

.left-topnav a {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 0 15px;
    transition: 0.5s ease;
}

.topnav-logo {
    color: white;
    margin-right: 120px;
    transition: 0.5s ease;
}

.right-topnav {padding: 0 40px 0 105px;}

.head-topnav {
    align-self: center;
    justify-self: center;
    color: white;
    padding: 42px 0;
    text-align: center;
}

.head-topnav h2 {
    padding: 24px 0;
    font-size: 72px;
}

.head-topnav p {
    font-size: 22px;
    padding: 15px 0 30px;
}

.head-topnav button {
    padding: 20px 60px;
    margin: 45px 0;
    background-color: darkorange;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.topnav-down {
    position: relative;
    align-self: center;
    justify-self: center;
    animation: anime1 1000ms ease-in-out infinite;
    animation-direction: alternate;
    cursor: pointer;
    transition: 0.5s;
}

.topnav-logo:hover {transform: scale(1.1);}

.head-topnav button:hover {
    background-color: orange;
    transform: scale(1.1);
}
/*Step-1-Nav endblock*/

/*Step-2 block*/
#step-2 {
    display: flex;
    flex-direction: row;
    margin: 0 159px;
    padding: 180px 0;
}

.step-2-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 52px;
    width: 560px;
    height: 460px;
}

.step-2-left h2 {
    margin: 0 0 24px;
    font-size: 42px;
}

.step-2-left p {
    font-size: 20px;
    margin: 23px 0 0;
}

.step-2-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 460px;
    height: 460px;
}
/*Step-2 endblock*/
/*Step-3 block*/
.step-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.step-3-header {padding-top: 150px;}

.step-3-header h2 {
    height: 156px;
    font-size: 42px;
    margin: 0 20px 30px 20px;
}

.step-3-content {
    display: grid;
    grid-template-columns: repeat(3, 3);
    grid-template-rows: repeat(3, 3);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    margin: 0 159px;
    padding-bottom: 180px;
}

.step-3-content img {
    margin: 0 0 25px;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 360px;
    height: 265px;
    margin:  0 20px;
    margin-bottom: 100px;
}

.content-box h2 {
    font-size: 30px;
    margin: 12px 0 25px;
}

.content-box p {
    font-size: 16px;
    width: 320px;
    line-height: 25px;
}
/*Step-3 endblock*/

/*Step-4 block*/
.step-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://static.tildacdn.com/tild6433-6564-4637-a664-633236363765/blob.png);
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 560px;
}

.step-4 h2 {
    font-size: 48px;
    margin: 0 0 25px;
    color: white;
    text-align: center;
}

.step-4 p {
    font-size: 24px;
    color: white;
    margin: 0 180px;
    text-align: center;
    line-height: 35px;
}

.step-4 button {
    font-size: 16px;
    color: white;
    padding: 20px 60px;
    border: none;
    background-color: darkorange;
    border-radius: 5px;
    margin: 70px 0 0;
    transition: 0.5s;
}

.step-4 button:hover {
    transform: scale(1.1);
    background-color: orange;
}

/*Step-4 endblock*/

/*Step-5 block*/

.step-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 165px 0 180px;
}

.step-5-header {
    margin: 0 20px;
    margin: 0 0 90px;
}

.step-5-header h2 {
    text-align: center;
    font-size: 42px;
    margin: 0 0 40px;
}

.step-5-header p {
    width: 560px;
    font-size: 24px;
    font-weight: lighter;
    line-height: 40px;
    margin: 0 300px;
    text-align: center;
}

.step-5-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}

.box-content {padding: 0 0 0 40px;}

.box-content h2 {
    font-size: 20px;
    margin: 0 0 14px;
}

.box-content p {
    font-size: 18px;
    line-height: 30px;
}

/*Step-5 endblock*/
/*Step-6 block*/
.step-6 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: whitesmoke;
}

.step-6-header {
    height: 141px;
    margin: 0 20px;
    padding-top: 165px;
}

.step-6-header h2 {
    font-size: 42px;
    margin: 0 0 40px;
    text-align: center;
}

.step-6-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0 159px;
    padding-bottom: 210px;
}

.step-6-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.step-6-box-content {padding: 0 0 0 30px;}

.step-6-box p {
    margin: 8px 0 0;
    font-size: 15px;
    width: 300px;
}

.step-6-box img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.step-6-avtor h4 {margin: 14px 0 0;}

.underline {border-bottom: 3px solid orange;}
/*Step-6 endblock*/

/*Step-7 block*/
.step-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://static.tildacdn.com/tild3964-3831-4932-b334-336562653062/blob.png);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    height: 721px;
}

.step-7-header {margin: 0 0 74px;}

.step-7-header h2 {
    font-size: 48px;
    color: white;
    text-align: center;
}

.step-7-header p {
   margin: 24px 180px 0;
   width: 600px;
   font-size: 24px;
   text-align: center;
   color: white;
   line-height: 30px;
}

.step-7-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputs {
    width: 246px;
    height: 56px;
    padding: 0 20px;
    margin: 0 20px 0 0;
    border: 1px solid white;
    background: none;
    font-size: 16px;
    color: white;
    outline: none;
}

.step-7-content button {
    padding: 1px 40px;
    width: 161px;
    height: 56px;
    background-color: orange;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.step-7-content button:hover {transform: scale(1.1);}
/*Step-7 endblock*/

/*Footer block*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 624px;
    text-align: center;
    background-color: white;
}

.footer h4 {
    font-size: 16px;
    margin: 0 0 45px;
}

.footer-up {font-size: 25px;}

.footer-down p {
    margin: 45px 0 45px 0;
    font-size: 18px;
}

/*Footer endblock*/

/*Media block*/

@media (max-width: 1210px) {
    .step-3-content {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        margin: 0;
    }
}

@media (max-width: 1025px) {
    #step-2 {
        margin: 0 20px;
    }

    .step-2-left {     
        text-align: center;
    }

    .step-2-right img {margin-right: 13px;}
}

@media (max-width: 932px) {
    .topnav {
        flex-direction: column;
        justify-content: space-around;
        background-color: black;
        align-items: center;
        height: 357px;
    }

    .left-topnav {padding: 0;}
    .topnav-logo {margin: 0;}
    .right-topnav {padding: 0;}
}

@media (max-width: 751px) {
    #step-2 {
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    
    #step-2 h2 {font-size: 26px;}

    .step-2-left {
        width: auto;
        height: 360px;
        margin: 0 15px 0 15px;
    }

    .step-2-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }

    .step-2-right img {
        margin-right: 0;
        margin-bottom: 13px;
    }
}

@media (max-width: 595px) {
    .head-topnav h2 {font-size: 52px;}
    .head-topnav p {font-size: 18px;}
}

@media (max-width: 430px) {.head-topnav h2 {font-size: 42px;}}

@media (max-width: 428px) {
    .content-box {
        margin: 0;
        margin-bottom: 100px;
        width: auto;
        height: auto;
    }

    .content-box p {
        width: auto;
    }
}

@media (max-width: 346px) {
    .head-topnav h2 {font-size: 32px;}
    .head-topnav p {font-size: 15px;}
}
/*Media endblock*/
/*Footer endblock*/
