* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, Arial, sans-serif;
}

@keyframes anime1 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-15px);
    }
}

/*Step-1-Nav block*/
#step-1 {
    display: flex;
    flex-direction: column;
    background-image: url(https://static.tildacdn.com/tild6239-6638-4865-b638-633631326634/rawpixelcom340966.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 726px;
}

.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.left-topnav {
    padding: 0 105px 0 40px;
}

.left-topnav a {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 0 15px;
    transition: 0.5s ease;
}

.topnav-logo {
    color: white;
    margin-right: 120px;
    transition: 0.5s ease;
}

.right-topnav {padding: 0 40px 0 105px;}

.head-topnav {
    align-self: center;
    justify-self: center;
    color: white;
    padding: 42px 0;
    text-align: center;
}

.head-topnav h2 {
    padding: 24px 0;
    font-size: 72px;
}

.head-topnav p {
    font-size: 22px;
    padding: 15px 0 30px;
}

.head-topnav button {
    padding: 20px 60px;
    margin: 45px 0;
    background-color: darkorange;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.topnav-down {
    position: relative;
    align-self: center;
    justify-self: center;
    animation: anime1 1000ms ease-in-out infinite;
    animation-direction: alternate;
    cursor: pointer;
    transition: 0.5s;
}

.topnav-logo:hover {transform: scale(1.1);}

.head-topnav button:hover {
    background-color: orange;
    transform: scale(1.1);
}
/*Step-1-Nav endblock*/

/*Step-2 block*/
#step-2 {
    display: flex;
    flex-direction: row;
    margin: 0 159px;
    padding: 180px 0;
}

.step-2-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 52px;
    width: 560px;
    height: 460px;
}

.step-2-left h2 {
    margin: 0 0 24px;
    font-size: 42px;
}

.step-2-left p {
    font-size: 20px;
    margin: 23px 0 0;
}

.step-2-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 460px;
    height: 460px;
}
/*Step-2 endblock*/
/*Step-3 block*/
.step-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.step-3-header {padding-top: 150px;}

.step-3-header h2 {
    height: 156px;
    font-size: 42px;
    margin: 0 20px 30px 20px;
}

.step-3-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    margin: 0 159px;
    padding-bottom: 180px;
}

.step-3-content img {
    margin: 0 0 25px;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 360px;
    height: 265px;
    margin:  0 20px;
    margin-bottom: 100px;
}

.content-box h2 {
    font-size: 30px;
    margin: 12px 0 25px;
}

.content-box p {
    font-size: 16px;
    width: 320px;
    line-height: 25px;
}
/*Step-3 endblock*/